# Python Numeric Data Types

There are three numeric data types built-in to Python.  These are:

* integers - `int`
* floating point numbers - `float`
* complex numbers - `complex`

In [1]:
x = 5
y = 2.12
z = x +y*1j

print("The number", x, "is of the type", type(x))
print("The number", y, "is of the type", type(y))
print("The number", z, "is of the type", type(z))

The number 5 is of the type <class 'int'>
The number 2.12 is of the type <class 'float'>
The number (5+2.12j) is of the type <class 'complex'>

## Operators

The following operators are defined for all three numeric types above.

* Addition:              +
* Subtraction/Negation:  -
* Multiplication:        *
* Division:              /
* Exponentiation:        **

The following operators are defined for `int` and `float`.
* Floored division:      //
* Modulo (Remainder):    %

Just like in typical mathematical expressions, Python follows the PEMDAS order of opertations:
* P - parentheses (note, only parentheses may be used to group items in an expression NOT [  ] or {  }
* E - exponents
* M - multiplication, modulo, or
* D - division
* A - addition, or
* S - subtraction

In [ ]:
3 + 6 / 3

In [ ]:
4 - 2 + 8

In [ ]:
8 % 4 / 3

In [ ]:
8 / 4 % 3

In [ ]:
8 * 4 % 3

In [ ]:
8 % 4 * 3

# Built-in Types

## Strings

A string is a list of individual characters.  The first character begins at index 0.

### SYNTAX |  STRING

To create a string type we can either use "double quotations" or 'single quotations'.

        name = "Bob"

        last_name = 'Vartez'  

### SYNTAX | OBTAINING SPECIFIC CHARACTERS
To obtain a specific character in a string, call the variable name followed by brackets containing the index of the desired character.
`c = string_var[i]`

In [ ]:
school = "CSULB"
print(school[0])

### SYNTAX | SUBSTRING

`substr = string_var[start : end+1 ]`

#### EXAMPLE |
How do we create a substring that holds only the characters `CSU` from the string `CSULB`?

In [ ]:
print(school[0:3])  

#what indexing would be necessary to build the substring "LB"?  Try it.

#### EXAMPLE | Using the lower() and upper() string type functions

In [ ]:
lower_case_school = school.lower()
print(lower_case_school)

course = 'cecs 228'
upper_case_course = course.upper()
print(upper_case_course)

Other quick reminders:
* To find the length of the a string `str_var` use the function `len()` e.g. `len(str_var)`
* Strings are immutable, i.e. you can NOT change the characters of a string.
* You can concatenate two strings by using the `+` operator.

## Container Type: Lists 


### SYNTAX | LIST

`list_name = [ 1, 2, 3]`

You can store values of any type into a list.  A list can contain elements all of a same type, or a mix of elements of different types.

#### Access

We access element at index `i` in list `my_list` by calling 

`my_list[i]`

#### Modification

We can change the value stored at index `i` in the list `my_list` to `new_val` by using the syntax 

`my_list[i] = new_val`

#### Adding new elements

We can **add** a new element `new_ele` to the end of the list by using syntax

`my_list.append(new_ele)`

We can **insert** a new element `new_ele` at index `i` by using the syntax

`my_list.insert(i, new_ele)`

#### Removing elements

We can add a new element `new_ele` to the end of the list by using syntax

`my_list.append(new_ele)`

#### EXAMPLE |

In [ ]:
students = ['Ana', 'Bob', 'Carmen', 'David']
print("All students:", students)

#accessing the element at index 0
print("Print student at top of list:", students[0])

#creating a sublist
cs_students = students[0:2]
print("CS students:", cs_students)

#modifying an entry in the sublist
cs_students[1] = 'Barb'
print("CS students after modification:",cs_students)
print("Original Students:", students)  #Notice: the change only affects the list called

#appending to the list of CS students
cs_students.append('Zoe')
print(cs_students)

#removing from the list of original students
students.remove('David')
print("Students after removal", students)

#attempting to remove a non-existent entry (what happens?)
students.remove('Katherine')

## Container Type: Tuples 

Another way to collect data values is by means of a tuple.  A tuple is like a list, except it is immutable i.e. once elements have been added to a tuple, they can no longer be modified in any way.

### SYNTAX | TUPLE

`t = (1, 2, 3)`

#### EXAMPLE |

In [ ]:
t = (3, 'hello', 4.5, "Tony's Shack")

print("The element at index 1 is", t[1]) #accessing an element in a tuple

#### EXAMPLE |

In [ ]:
white_house_coordinates = (38.8977, 77.0366)
print('Coordinates:', white_house_coordinates)
print('Tuple length:', len(white_house_coordinates))

# Access tuples via index
print('\nLatitude:', white_house_coordinates[0], 'north')
print('Longitude:', white_house_coordinates[1], 'west\n')

# Error. Tuples are immutable
white_house_coordinates[1] = 50

## Container Type: Dictionaries

### SYNTAX | DICTIONARY

`d = {key_1 : value_1, key_2 : value_2, ..., key_n : value_n}`

#### EXAMPLE |

In [3]:
students = {'Ana' : 3.4, 'Bob' : 3.0, 'Carlos' : 3.4, 'Kim' : 2.9}
print(students)

{'Ana': 3.4, 'Bob': 3.0, 'Carlos': 3.4, 'Kim': 2.9}

#### Access
The following illustrates single value access.  For options in accessing elements via a loop see the Jupyter NB "Python Review - Loops"

In [2]:
print("Ana's GPA:", students["Ana"])

Ana's GPA: 3.4

#### Modification

* **Changing a value**

In [ ]:
students['Bob'] = 2.5
print(students)

* **Adding a new key & value**

In [ ]:
students["Tim"] = 3.1
print(students)

* **Removing**

In [ ]:
del students['Kim']
print(students)